[submodule "src/externals/emulators/mame"]
	path = src/externals/emulators/mame
	url = https://github.com/mamedev/mame.git
[submodule "src/externals/emulators/demul"]
	path = src/externals/emulators/demul
	url = https://github.com/vgturtle127/demul.git
[submodule "src/externals/emulators/dolphin"]
	path = src/externals/emulators/dolphin
	url = https://github.com/dolphin-emu/dolphin.git
[submodule "src/externals/sdl"]
	path = src/externals/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "src/externals/qt"]
	path = src/externals/qt
	url = https://github.com/qtproject/qtbase.git
[submodule "src/externals/emulators/yabause"]
	path = src/externals/emulators/yabause
	url = https://github.com/Yabause/yabause.git
[submodule "src/externals/emulators/mame-buildtools"]
	path = src/externals/emulators/mame-buildtools
	url = https://github.com/mamedev/buildtools
[submodule "src/externals/rapidjson"]
	path = src/externals/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "src/externals/freetype"]
	path = src/externals/freetype
	url = http://git.savannah.gnu.org/cgit/freetype/freetype2.git/
